@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: linear-gradient(
    109.2deg,
    #fdfdfd -13.04%,
    rgba(253, 253, 253, 0.841746) 65.51%,
    rgba(253, 253, 253, 0.74) 116.02%
  );
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}
